{% load static %}
<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="{% static 'favicon/favicon.ico' %}">
    <title>Document</title>
    <style>
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            margin: .4rem 0;
        }
    </style>
</head>

<body>
    <form method="POST" action="detect_website">
        {% csrf_token %}
        <label for="url">Enter an https:// URL:</label>

        <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required>
        <input type="submit" value="Submit" />
    </form>
</body>

</html>